.container {
  padding: 20px;
}

.backButton {
  display: block;
  margin-bottom: 20px;
  color: #a06666;
  text-decoration: none;
}

.movieDetails {
  display: flex;
}

.poster {
  width: 300px;
  height: auto;
  margin-right: 20px;
}

.info {
  max-width: 600px;
}

.additionalInfo {
  margin-top: 20px;
}

.link {
  display: block;
  margin-bottom: 10px;
  color: #d63535;
  text-decoration: none;
}
