.MoviesPage {
  padding: 20px;
}

form {
  margin-bottom: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

input {
  padding: 15px;
  width: 300px;
  font-size: 16px;
  background-color: #203350;
  border-radius: 8px;
  border: none;
  color: aliceblue;
}
input::placeholder {
  color: aliceblue;
}

button {
  padding: 15px;
  font-size: 20px;
  margin-left: 10px;
  border: none;
  border-radius: 8px;
  background-color: rgb(60, 126, 247);
  color: aliceblue;
  transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
button:hover {
  background-color: chartreuse;
  color: rgb(32, 32, 31);
}

.error {
  color: red;
}
