.cast {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.castMember {
    flex: 1 1 200px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.castMember img {
    max-width: 100%;
    border-radius: 50%;
}