.homePage {
    padding: 20px;
    text-align: center;
}

.movieBlock{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.movieList{
 display: grid;
grid-template-columns: 1fr 1fr 1fr;
}

.movieTitle{
    
}
