.notFound {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.notFound h1 {
    font-size: 48px;
}

.notFound a {
    margin-top: 20px;
    text-decoration: none;
    color: blue;
}